.main-menu {            
    display: flex;
    justify-content: flex-start;    
    background-color: #113548;
    height: 8vh;              
}

.main-menu li {
    float: left;      
    background-color: inherit;    
    margin-left: 10px;    
}

.main-menu li a {
    display: block;    
    text-align: center;        
    margin-left: 10px;
    padding:7px;
    text-decoration: none;
    border-radius: 5px;
    font-size: large;
    background-color: inherit;  
}

.main-menu li a:hover {
    Color: #4e72f2;
    background-color: #184963;
    background-blend-mode: hard-light;    
}

.main-menu ul {
    display: flex;
    align-self: center;
    list-style-type:none;            
    margin-left: 5%;
    overflow: hidden;
    background-color: inherit;    
}

hr{
    margin-left: 4%;
}