*{
    
}
.title{    
    display: grid;
    justify-content: center;    
    background-color: #0a212d;
    color:white;
    padding: 10px;
}

.grid{    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;    
    background-color: #0a212d;    
}

.grid2{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}

.laoding{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a212d;
    color:white;
    height: 92vh;
}